<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <title>
   Add Patient
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <script src="/static/index.js"></script>
  <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->
    
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="sidebar-nav">
                  <ul class="nav">
                     <ul>
                            <li>
                               <a href="/index" class="active">
                               <span class="icon"><i class="fas fa-user"></i></span>
                               <span class="title">Patient Dashboard</span>
                               </a>
                            </li>
                            <li>
                               <a href="/medicalhistory">
                               <span class="icon"><i class="fas fa-list-alt"></i></span>
                               <span class="title">Covid-19 History</span>
                               </a>
                            </li>
                            <li>
                               <a href="/emergency">
                               <span class="icon"><i class="fas fa-phone"></i></span>
                               <span class="title">Emergency Requests</span>
                               </a>
                            </li>
                            <li>
                               <a href="/location">
                               <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                               <span class="title">Patient Location</span>
                               </a>
                            </li>
                            <li>
                               <a href="/prescription">
                               <span class="icon"><i class="fas fa-pills"></i></span>
                               <span class="title">Prescriptions History</span>
                               </a>
                            </li>
                         </ul>
                            </ul>
                        
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
    
            <div class="col-xs-12 col-sm-9">
                <br>
                <div class="jumbotron" style="background-color: white;">
                  <a href="/index"><img src="\static\back.png"></a>
                  <br>
                  <br>
                  <div class="row">
                    <br>
                   
                  
                    <div class="col">
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'London')">Personal Details</button>
                            <button class="tablinks" onclick="openCity(event, 'Paris')">Covid History</button>
                            <button class="tablinks" onclick="openCity(event, 'Pt_loc')">Patient Location</button>
                            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Prescription Details</button>
                          </div>
                          
                          <div id="London" class="tabcontent">
                      
                              <div class="col" style="margin:40px;">
                                <br>
                                <h3><b>Add Patient's Personal Info</b></h3>
                                <br>
                                <form class="addform row g-3">
                                  <div class="col-md-6">
                                    <label for="id" class="form-label">Patient ID</label>
                                    <input type="text" class="form-control" id="id" placeholder="Enter Patient ID">
                                  </div>
                                  <div class="col-md-6">
                                    <label for="name" class="form-label">Patient Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Patient Name">
                                  </div>

                                  <div class="col-md-6">
                                      <label for="img" class="form-label">Profile Image</label>
                                      <input type="text" id="img" class="form-control" placeholder="Image url">
                                     
                                    </div>
                                    

                                    <div class="col-md-6">
                                      <label for="DateOfBirth" class="form-label">DOB</label>
                                      <input type="text" class="form-control" id="DateOfBirth" placeholder="DD/MM/YYYY">
                                    </div>

                                    <div class="col-md-6">
                                      <label for="age" class="form-label">Age</label>
                                      <input type="text" class="form-control" id="age" placeholder="Enter Patient Age">
                                    </div>
                                    
                                    
                                    
                                   <div class="col-md-6">
                                     
                                      <div class="form-check">
                                        <label class="form-check-label" style="margin-right: 10px;">Gender: 
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1" style="margin-top: 20px; ">
                                         Male</label>
                                          <label class="form-check-label">
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                          Female</label>
                                         
                                      </div>
                                      
                                    </div> 

                                    <div class="col-md-6">
                                      <label for="phone" class="form-label">Phone Number</label>
                                      <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="inputEmail4" class="form-label">E-mail</label>
                                      <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your e-mail id">
                                    </div>

                                    <div class="col-md-6">
                                      <label for="GuardianName" class="form-label">Guardian Name</label>
                                      <input type="text" class="form-control" id="GuardianName" placeholder="Enter Guardian Name">
                                    </div>
                                    
                                    <div class="col-md-6">
                                      <label for="address" class="form-label">Address</label>
                                      <input type="text" class="form-control" id="address" placeholder="Enter Patient Address">
                                    </div>

                                  <div class="col-12">
                                    <button style="width: 100%; margin-top: 20px; height: 40px;" type="submit" class="btn btn-primary"><b>Submit</b></button>
                                  </div>
                                </form>
                              </div>

                          </div>
                          
                          <div id="Paris" class="tabcontent">
                            <div class="col" style="margin:40px;">
                              <br>
                              <h3><b>Add Patient's Covid History</b></h3>
                              <br>
                              <form class="addform row g-3">
                                <div class="col-md-6">
                                  <label for="id" class="form-label">Patient ID</label>
                                  <input type="text" class="form-control" id="id" placeholder="Enter Patient ID">
                                </div>
                                <div class="col-md-6">
                                  <label for="name" class="form-label">Patient Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter Patient Name">
                                </div>
                                <div class="col-md-6">
                                    <label for="blood" class="form-label">Blood Type</label>
                                    <input type="text" class="form-control" id="blood" placeholder="Enter Blood Type">
                                  </div>
                                  <div class="col-md-6">
                                    <label for="height" class="form-label">Height</label>
                                    <input type="text" class="form-control" id="Height"  placeholder="Enter Patient Height">
                                  </div>
                                  <div class="col-md-6">
                                    <label for="weight" class="form-label">Weight</label>
                                    <input type="text" class="form-control" id="weight" placeholder="Enter Patient Weight">
                                  </div>
                                 

                                    <div class="col-md-6">
                                      
                                      <div class="form-check">
                                        <label class="form-check-label" style="margin-right: 10px;">Vaccinated?
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1" style="margin-top: 20px; ">
                                           Yes</label>
                                          <label class="form-check-label">
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                          No</label>
                                        
                                      
                                                                               
                                      </div>
                                      
                                      
                                    </div> 

                                   
                                    <div class="col-md-6">
                                      <label for="weight" class="form-label">Body Temperature Recorded</label>
                                      <input type="text" class="form-control" id="weight" placeholder="Enter Patient Temperature">
                                    </div>

                           

                                  <div class="col-md-6">
                                    <label for="hospital" class="form-label">Covid Status:</label><br>
                                        <label class="form-check-label" style="margin-right: 10px;">
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1" style="margin-top: 20px; ">
                                           Detected</label>
                                          <label class="form-check-label">
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                           Results Pending</label>
                                           <label class="form-check-label">
                                            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                            Not Detected</label>
                                           <label class="form-check-label">
                                            <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                            Recovered</label>
                                            
                                  </div>
                                  <div class="col-md-6">
                                    <label for="hospital" class="form-label">Declared suspected case is admitted to</label><br>
                                        <label class="form-check-label" style="margin-right: 10px;">
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios1" value="option1" style="margin-top: 20px; ">
                                           Home Quarantined</label>
                                          <label class="form-check-label">
                                          <input class="form-check-input radio-inline" type="radio" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                          In-patient</label>
                                  </div>
                                  
                                  
                                <div class="col-12">
                                  <button style="width: 100%; margin-top: 20px; height: 40px;" type="submit" class="btn btn-primary"><b>Submit</b></button>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div id="Pt_loc" class="tabcontent">
                            <div class="tabs">
                              <span data-tab-value="#tab_1">Home Quarantined</span>
                              <span data-tab-value="#tab_2">In-Patient</span>
                          
                          </div>
                        
                          <div class="tab-content">
                              <div class="tabs__tab active" id="tab_1" data-tab-info>
                                <div class="col" style="margin:30px" >
                            
                                  <h3><b>Add Patient's Home Location</b></h3>
                                 <br>
                                  <form class="addform row g-3">
                                    <div class="col-md-6">
                                      <label for="id" class="form-label">Patient ID</label>
                                      <input type="text" class="form-control" id="id" placeholder="Enter Patient ID">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="locname" class="form-label">Location Name</label>
                                      <input type="text" class="form-control" id="locname" placeholder="Enter Patient Location">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lat" class="form-label">Latitude</label>
                                        <input type="text" class="form-control" id="lat" placeholder="Enter Latitude">
                                      </div>
                                      <div class="col-md-6">
                                        <label for="long" class="form-label">Longitude</label>
                                        <input type="text" class="form-control" id="long"  placeholder="Enter Longitude">
                                      </div>
                                    <div class="col-12">
                                      <button style="width: 100%; margin-top: 20px; height: 40px;" type="submit" class="btn btn-primary"><b>Submit</b></button>
                                    <br>
                                    </div>
                                  </form>
                                </div>
                        
                              </div>
                              <div class="tabs__tab" id="tab_2" data-tab-info>
                                <div class="col" style="margin:30px;" >
                            
                                  <h3><b>In-Patient Room Details</b></h3>
                                  <br>
                                 
                                  <form class="addform row g-3">
                                    <div class="col-md-6">
                                      <label for="id" class="form-label">Patient ID</label>
                                      <input type="text" class="form-control" id="id" placeholder="Enter Patient ID">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="locname" class="form-label">Ward Name</label>
                                      <input type="text" class="form-control" id="locname" placeholder="Enter Ward Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lat" class="form-label">Room No.</label>
                                        <input type="text" class="form-control" id="lat" placeholder="Enter Room Number">
                                      </div>
                                      <div class="col-md-6">
                                        <label for="long" class="form-label">Bed No.</label>
                                        <input type="text" class="form-control" id="long"  placeholder="Enter Bed Number">
                                      </div>
                                    <div class="col-12">
                                      <button style="width: 100%; margin-top: 20px; height: 40px;" type="submit" class="btn btn-primary"><b>Submit</b></button>
                                    <br>
                                    </div>
                                  </form>
                                </div>
                        
                          </div>
                          <script type="text/javascript">
                              const tabs = document.querySelectorAll('[data-tab-value]')
                              const tabInfos = document.querySelectorAll('[data-tab-info]')
                        
                              tabs.forEach(tab => {
                                  tab.addEventListener('click', () => {
                                      const target = document
                                          .querySelector(tab.dataset.tabValue);
                        
                                      tabInfos.forEach(tabInfo => {
                                          tabInfo.classList.remove('active')
                                      })
                                      target.classList.add('active');
                                  })
                              })
                          </script>
                            
                          </div>
                          </div>
                          
                          
                          <div id="Tokyo" class="tabcontent">
                            <div class="col" style="margin:40px;">
                              <br>
                              <h3><b>Add Patient's Prescription Details</b></h3>
                              <br>
                              <form class="addform row g-3">
                                <div class="col-md-6">
                                  <label for="id" class="form-label">Patient ID</label>
                                  <input type="text" class="form-control" id="id" placeholder="Enter Patient ID">
                                </div>
                                <div class="col-md-6">
                                  <label for="presid" class="form-label">Prescription ID</label>
                                  <input type="text" class="form-control" id="presid" placeholder="Enter Prescription ID">
                                </div>
                                <div class="col-md-6">
                                    <label for="presname" class="form-label">Prescription Name</label>
                                    <input type="text" class="form-control" id="presname" placeholder="Enter Prescription Name">
                                  </div>
                                  <div class="col-md-6">
                                    <label for="Time" class="form-label">Dose Timings</label>
                                    <input type="text" class="form-control" id="Time"  placeholder="Enter Dose Timing">
                                  </div>
                                  <div class="col-md-6">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input type="text" class="form-control" id="quantity" placeholder="Enter Quantity">
                                  </div>
                                  
                                  <div class="col-md-6">
                                    <label for="date" class="form-label">Date Prescribed</label>
                                    <input type="text" class="form-control" id="date" placeholder="DD/MM/YYYY">
                                  </div>

                                  <div class="col-md-6">
                                    
                                    <label class="form-check-label">Schedule:
                                    <input class="form-check-input radio-inline" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                        Mon</label>
                                    <label class="form-check-label">
                                      <input class="form-check-input radio-inline" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                      Tue</label>
                                      <label class="form-check-label">
                                        <input class="form-check-input radio-inline" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                        Wed</label>
                                        <label class="form-check-label">
                                          <input class="form-check-input radio-inline" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                          Thurs</label>
                                          <label class="form-check-label">
                                            <input class="form-check-input radio-inline" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                            Fri</label>
                                            <label class="form-check-label">
                                              <input class="form-check-input radio-inline" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                              Sat</label>
                                              <label class="form-check-label">
                                                <input class="form-check-input radio-inline" type="checkbox" name="gridRadios" id="gridRadios2" value="option2" style="margin-top: 20px;">
                                                Sat</label>

                                  </div>
                                  
                                <div class="col-12">
                                  <button style="width: 100%; margin-top: 20px; height: 40px;" type="submit" class="btn btn-primary"><b>Submit</b></button>
                                <br>
                                
                                </div>
                              </form>
                            </div>
                          </div>
                          
                         
                             


                    </div>
                </div>
                  <br>
                  
                </div>

                
       
    
    </div>
    <!--/.container-->
</body>