<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <title>
   CoviTrack
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <script src="/static/index.js"></script>
  <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CoviTrack</a>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar -->
    
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="sidebar-nav">
                    <ul class="nav">
                        <ul>
                            <li>
                               <a href="/index" class="active">
                               <span class="icon"><i class="fas fa-user"></i></span>
                               <span class="title">Patient Dashboard</span>
                               </a>
                            </li>
                            <li>
                               <a href="/medicalhistory">
                               <span class="icon"><i class="fas fa-list-alt"></i></span>
                               <span class="title">Covid-19 History</span>
                               </a>
                            </li>
                            <li>
                               <a href="/emergency">
                               <span class="icon"><i class="fas fa-phone"></i></span>
                               <span class="title">Emergency Requests</span>
                               </a>
                            </li>
                            <li>
                               <a href="/location">
                               <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                               <span class="title">Patient Location</span>
                               </a>
                            </li>
                            <li>
                               <a href="/prescription">
                               <span class="icon"><i class="fas fa-pills"></i></span>
                               <span class="title">Prescriptions History</span>
                               </a>
                            </li>
                         </ul>
                                </ul>
                            
   
            </div>
                <!--/.well -->
            </div>
            <!--/span-->
    
            <div class="col-xs-12 col-sm-9">
                <br>
                <div class="jumbotron" style="color:white;background: #36D1DC;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                ">
                    <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
                  
                    <h2><b>Hello, Admin!</b></h2>
                    <p style="font-size: 14px;">Track your patients details, emergecy requests and more,hassle free with CoviTrack</p>
                </div>

                <div class="container">
                <div class="row">
                    <div class=" col-6 col-sm-6 col-lg-4 ">
                        <form action="">
                                <div class="search"> <input type="text" class="search-input" placeholder="Search..." name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
                          </form>
                    </div>
                    
                    <div class="col-6 col-sm-6 col-lg-4 ">
                        <p><a  style="margin-left: 150px; font-size:14px; padding:10px ; "class="btn btn-primary" href="/addpatient">Add Patient Details</a></p>
                    </div>
                    

                    </div>

              </div>

                    <h3><b>Your Patients</b></h3><br>
{% for p in data%}
                <div class="row ">
                    <div class="col-6 col-sm-6 col-lg-4" >
                        <img src="{{p[2]}}" class="img-fluid" alt="pt" width="250px" height="250px">
                       
                            <h2><b>{{p[1]}}</b></h2>
                            <p>P-{{p[0]}}</p>
                            <p><b>Covid Status: </b><span style="color: crimson; font-weight: bold;">{{p[3]}}</span></p><br>
                            <p><a class="btn btn-primary " href="/patientinfo/{{p[0]}}">View details »</a></p>
                    
                      
                     
                          
                    </div>
               
                </div>
{% endfor %}
                <!--/row-->
            </div>
            <!--/span-->
    
    
        </div>
        <!--/row-->
    
        <hr>
    
      
    </div>
    <!--/.container-->
</body>